<div class='palm-row multi-line' >
	<div class='palm-row-wrapper'>
		<div name='note-icon' class='#{iconnoteFormatted}'></div>
		<div name='title' class='title truncating-text'>#{-titleFormatted}</div>
		<div name='preview' class='preview truncating-text'>#{-previewFormatted}</div>
		<div name="notesDrawer" class="note-container" style="display: none;">
			<div class="palm-drawer-container">
				<div class="palm-drawer-contents palm-body-text">
					<div class='note-drawer-text'>#{-noteFormatted}</div>
				</div>
			</div> 
		</div>
	</div>
</div>
