<div class="palm-scene">

	<div class='header-ico' id='header-icon'></div>
	<div id="title" class="palm-header">Done Help</div>
	<div class="palm-header-spacer"></div>

	<div class="palm-text-wrapper">
		    <div class="title left" id="appname"></div>                         
			<div class="palm-body-text" id="appdetails"></div>
	</div>
	<div id='MyListContainer'>
		<div id="AppHelp_list" x-mojo-element="List" >
		</div>
	</div>
	
	<div id='MyListContainer'>
		<div id="AppSupport_list" x-mojo-element="List" >
		</div>
	</div>
	<div id='copyright'>
		<div class="palm-text-wrapper">
			  <div class="palm-body-text" id="copywrite"></div>
		</div>
		<div class="palm-text-wrapper">
			<div class="palm-body-text" style="display:none" id='license'></div>
		</div>
	</div>
	<div class="palm-text-wrapper">
	  <div class="palm-body-text" id="translators"></div>
	</div>
	<div class="palm-text-wrapper">
		<div class="palm-body-text" id="contributors"></div>
	</div>
</div>