<div id="main" class="palm-scene">
	<div class='header-ico' id='header-icon'></div>
	<div class="palm-header" id="accountHeader"></div>
	<div class="palm-header-spacer"></div>
	
	<div class='palm-body-text helptext' id='accountNeeded'></div>
			
	<div class="palm-group">
		
	<div class="palm-group-title" id="emailLabelId" x-mojo-loc=''>Enter email</div>
		<div class="palm-list">
	   		<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
	      				<div id="EmailFieldId" name="EmailField" class="listClass" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="palm-group">
		<div class="palm-group-title" id="passwordLabelId" x-mojo-loc=''>Enter password</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div x-mojo-element="PasswordField" id="PasswordFieldId" class="listClass" name="PasswordField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="accountErrorText" class="palm-body-text errortext"></div>
	<div id="UpdateButtonId" x-mojo-element="Button"></div>
<!--
	<div id="CreateButtonId" x-mojo-element="Button"></div>
-->
	<div id="accountNeeded2" class="palm-body-text"></div>
</div>
